# CMake build output
build/
bin/
CMakeUserPresets.json

# VS Code
.vscode/

# binary files
*.o
*.a
*.so

# Visual Studio / Windows 
.vs/
out/
x64/
Debug/
Release/
*.user
*.suo
*.pdb
*.ilk
vcpkg_installed/